.game
{
    width: 600px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
}
#dino
{
    width: 50px;
    height: 50px;
    background-image: url(trex.png);
    background-size: 50px 50px;
    position: relative;
    top: 150px;
}
#cactus
{
    width: 20px;
    height: 40px;
    position: relative;
    top: 110px;
    left: 580px;
    background-image: url(cactus.png);
    background-size: 20px 40px;
    animation:  block 1s infinite linear;
}
.jump
{
    animation: jump 0.3s linear;
}

@keyframes jump {
    0%
    {
        top: 145px;
    }
    5%
    {
        top: 140px
    }
    10%
    {
         top: 135px;
    }
    15%
    {
        top: 130px;
    }
    20%
    {
       top: 125px;
    }


    25%
    {
        top: 120px;
    }


    30%
    {
        top: 115px;
    }
    35%
    {
        top: 110px;
    }
    40%
    {
        top: 105px;
    }
    45%
    {
        top: 100px;
    }
    50%
    {
        top: 95px;
    }

    55%
    {
        top: 95px;
    }
    60%
    {
        top: 95px;
    }
    65%
    {
        top: 95px;
    }
    70%
    {
        top: 100px;
    }
    50%
    {
        top: 110px;
    }
    75%
    {
        top: 120px;
    }
    80%
    {
        top: 130px;
    }
    85%
    {
        top: 135px;
    }
    90%
    {
        top: 140px;
    }
    95%
    {
        top: 145px;
    }
    100%
    {
        top: 150px;
    }
 
}
@keyframes block
{
    0%
    {
       left: 580px;
    }
    100%
    {
       left: -20px;
    }




}